<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.springstore.goods.dao.GoodsDao">
	<!-- 热销商品,限制10条 -->
	<select id="findHotGoods" resultType="com.st.springstore.goods.pojo.Goods">
		select * from goods where recommend_status = 1 limit 0,10
	</select>
	<!-- 查询 排序 分页 -->
	<select id="findGoods" resultType="com.st.springstore.goods.pojo.Goods">
		select * from goods
		<where>
			<if test="#{title}!=null and #{title}!=''">
				title like concat('%',#{title},'%')
			</if>
		</where>
		order by
		<if test="#{orderBy}==null or #{orderBy}==''">
			sale_num
		</if>
		<if test="#{orderBy}!=null and #{orderBy}!=''">
			#{orderBy}
		</if>
		<if test="#{isDesc}!=null and #{isDesc}!=''">
			desc
		</if>
		limit #{pageIndex},#{pageCount}
	</select>
	<!-- 根据id查询详细商品数据 -->
	<select id="findGoodById" resultType="com.st.springstore.goods.pojo.Goods">
		select * from goods where id=#{id}
	</select>
	<!-- 获取总条数 -->
	<select id="getGoodsRows" resultType="int">
		select count(*) from goods
		<where>
			<if test="#{title}!=null and #{title}!=''">
				title like concat('%',#{title},'%')
			</if>
		</where>
	</select>
</mapper>