<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.st.springstore.order.dao.OrderDao">
	<insert id="insertOrder"
		parameterType="com.st.springstore.order.pojo.Order">
		insert into order values(null,#{userId},#{order_num},#{goodsId},#{num},now(),#{pay_status},#{amount},#{valid},#{addr},#{mobile},#{name})
		
	</insert>
	<select id="selectInfo"
		resultType="com.st.springstore.common.vo.OrderVo">
		select addr,mobile,name,status
		from dilivery_info
		where userId=#{userId}
	</select>
</mapper>
