<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.st.springsys.sysorder.dao.SysOrderDao">
  
  <!--修改订单信息  -->
  <update id="updateSysObject"
		parameterType="com.st.springsys.sysorder.pojo.SysOrder">
		update order_list
		<set>
			<if test="num!=null and num!=''">
				num=#{num},
			</if>
			<if test="pay_status!=null and pay_status!=''">
				pay_status=#{pay_status},
			</if>
			<if test="mobile!=null and mobile!=''">
				mobile=#{mobile},
			</if>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="addr!=null and addr!=''">
				addr=#{addr},
			</if>
			amount=#{amount},valid=#{valid},createdTime=now()
		</set>
		where id=#{id}
	</update>
	
  <!--存入订单信息  -->
  <insert id="insertSysOrder"
		parameterType="com.st.springsys.sysorder.pojo.SysOrder"> 
		insert into order_list 
		(id,userId,order_num,goodsId,num,createdTime,pay_status,amount,valid,addr,mobile,name)
		values
		(null,#{userId},#{order_num},#{goodsId},#{num},
		now(),#{pay_status},#{amount},#{valid},#{addr},#{mobile},#{name})
	</insert>
	
  <!--根据id删除订单  -->
  <update id="deleteSysOrder">
		delete from order_list
		where id in
		<foreach collection="array" open="(" close=")" separator=","
			item="orderId">
			#{orderId}
		</foreach>
	</update>
  
  <!--根据用户名查询信息  -->
  <select id="findOrderByName"
          resultType="com.st.springsys.sysorder.pojo.SysOrder">
  select * 
  <include refid="queryWhereId"/>
  
  
  </select>
  <!--最新订单10  -->
  <select id="findNewOrder"
          resultType="com.st.springsys.sysorder.pojo.SysOrder">
    select * 
    <include refid="queryWhereId"/>
     order by createdTime desc
     limit 0,10
  </select>
  
   <!-- sql元素用于对其它元素中的共性进行提取，其它
       元素用到此元素内容，可以使用include元素进行包含 -->
   <sql id="queryWhereId">
     from order_list
     <where>
            <if test="name!=null and name!=''">
               name like concat("%",#{name},"%")
            </if>
     </where>
   </sql>
  <!-- 按条件查询记录总数 -->
   <select id="getRowCount"
           resultType="int">
         select count(*)
         <include refid="queryWhereId"/>
   </select>
   <!-- 查询当前页记录，resultType的值为一行记录要映射的结果类型 -->
   <select id="findPageObjects"
           resultType="com.st.springsys.sysorder.pojo.SysOrder">
           select *
           <include refid="queryWhereId"/>
           order by createdTime desc
           limit #{pageIndex},#{pageSize}
   </select>
  
  </mapper>